[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"

[dev-packages]
sphinx = "*"
sphinx-copybutton = "*"
myst-parser = "*"
sphinx-rtd-theme = "*"
sphinx-autobuild = "*"
docutils-ast-writer = {ref = "shiguredo", git = "git+https://github.com/shiguredo/docutils-ast-writer"}
pytz = "*"

[requires]
python_version = "3"
